.letrs-red {
    color: #c2151c;
}

h1 {
    color: #c2151c;
    font-size: 28px;
    line-height: 34px;
}

.orange-body {
    background: #ff6d10;
}

.orange-body p {
    color: #ffffff;
}

h2 {
    margin: 0;
    line-height: 30px;
    color: #c2151c;
}

.red-body {
    background: #c2151c;
}

.red-body h3 {
    text-align: center;
    margin: 0 1em;
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
}

.red-body h3 a, .red-body h3 a:visited, .red-body h3 a:hover {
    color: #ffffff;
}